*{
    box-sizing:border-box;
}

body{
    margin:0;
    background-color:white;
    color:black;
}

.container{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
}

.header{
    display:flex;
    width:100%;
    background-color:white;
}

.header a{
    text-decoration:none;
    background-color:white;
    color:black;
    margin:4px 4px;
    text-align:center;
    padding:14px;
}

.header a:hover{
    background-color:rgba(240,240,240,1);
}

.header a:first-child{
    margin-right:auto;
}

.gallery{
    display:flex;
    flex-direction:column;
    margin-bottom:40px;
    background-color:white;
}

.gallery-col img{
    max-width:100%;
}

#about-container{
    background-color:rgba(240,240,240,0.3);
}

.about{
    width:320px;
    max-width:75%;
    margin:auto;
}

.about-img{
    display:block;
    max-width:300px;
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.about h1,p{
    text-align:center;
    padding:0px 8px;
    line-height:1.6;
}

.about p{
    margin-top:50px;
}

label{
    display:block;
    text-align:center;
    font-size:14px;
    padding-top:8px;
}

.contact{
    margin:auto;
    padding-right:8px;
}
.contact h3{
    text-align:center;
    color:rgba(200,0,0,0.6);
}

input, button{
    width:100%;
    padding:10px;
    margin:4px 4px;
}

.btn{
    font-size:17px;
    margin-top:15px;
}

.footer{
    margin-top:50px;
    margin-bottom:60px;
}

@media only screen and (min-width:600px){
    .gallery{
	flex-direction:row;
    }
    
    .gallery-col{
	flex:50%;
    }

    .header{
	max-width:100%;
	margin:auto;
	padding:25px 20px 20px 20px;
    }

    .header a{
	font-size:21px;
    }

    .about, .contact{
	max-width:60%;
	width:60%;
    }

}

@media only screen and (min-width:1520px){
    .gallery{
	max-width:85%;
	width:100%;
	margin:auto;
    }

    .header{
	max-width:85%;
    }
}
